@model ProfileProject.Models.Education

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EducationDegree" class="control-label"></label>
                <input asp-for="EducationDegree" class="form-control" />
                <span asp-validation-for="EducationDegree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationInstitution" class="control-label"></label>
                <input asp-for="EducationInstitution" class="form-control" />
                <span asp-validation-for="EducationInstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationLocation" class="control-label"></label>
                <input asp-for="EducationLocation" class="form-control" />
                <span asp-validation-for="EducationLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationDate" class="control-label"></label>
                <input asp-for="EducationDate" class="form-control" />
                <span asp-validation-for="EducationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
